@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@400;500&family=Karla:ital,wght@1,700&display=swap');
@import './container.css';
@import './logo.css';
@import './button.css';
@import './nav.css';
@import './hero.css';
@import './projects.css';
@import './skills.css';
@import './contact.css';
@import './footer.css';
:root{
  --mainblack: #181717; 
  --maingray: #606060; 
  --mainwhite: #f3f3f3; 
  --secondary: #2429af; 
  --bg: #faf7f0; 
  --brown: #883f16;
  --heading-1: 500 3.75rem/4rem DM Sans; 
  --heading-2: 400 2.5rem/3rem DM Sans; 
  --body: 400 1.125rem/1.5rem Inter; 
  --navigation: 400 1.3125rem/4.5rem DM Sans; 
  --sub-text: 400 0.875rem/1.375rem Inter; 
  --button: 500 1.125rem/1.5rem Inter; 
  --heading-3: 400 2rem/3rem DM Sans; 
  --heading-4: 400 1.125rem/1.8125rem DM Sans; 
  --subheader-link: 500 1.125rem/1.5rem Inter; 
  --brand: 700 1.5rem/ 1.5rem Karla;
}
body{
  font: var(--headline2);
  background-color: var(--bg);
  margin: 0;
}
html{
  scroll-behavior: smooth;
}