.nav-container{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}
.nav-links{
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
}
.nav-link{
  text-decoration: none;
  color: var(--mainblack);
  font: var(--navigation);
  cursor: pointer;
  display: inline-block;
  transition: transform .2s;
}
.nav-link:hover{
  text-decoration: underline;
}
.nav-link:active{
  transform: scale(.9);
}
@media screen and (min-width: 1024px){
  .nav-links{
    display: flex;
    gap: 2.1875rem;
  }
}